#!/usr/bin/env bash

# ref: https://spark.apache.org/docs/latest/configuration.html
export SPARK_DRIVER_MEMORY=2G  ## If you see OutOfDirectMemoryError for JDBC, increasing this may help.
export SPARK_EXECUTOR_CORES=2
export SPARK_EXECUTOR_MEMORY=2G
export SPARK_HOME=/opt/bitnami/spark
export SPARK_MASTER_URL=spark://spark-master:7077
export SPARK_SUBMIT_MAX_DIRECT_MEMORY_SIZE=2G
export SPARK_WORKER_CORES=2
export SPARK_WORKER_MEMORY=2G
export SPARK_WORKER_REPLICAS=3
