#!/usr/bin/env bash

export AWS_PROFILE=aws-sandbox

export SNOWFLAKE_SECRET=$(aws secretsmanager get-secret-value \
    --secret-id SnowflakeDev --region us-west-2 | jq -r .SecretString)
export SNOWFLAKE_USERNAME=$(jq -r .username <<< ${SNOWFLAKE_SECRET})
export SNOWFLAKE_PASSWORD=$(jq -r .password <<< ${SNOWFLAKE_SECRET})
export SNOWFLAKE_DATABASE=$(jq -r .database <<< ${SNOWFLAKE_SECRET})
export SNOWFLAKE_ROLE=$(jq -r .role <<< ${SNOWFLAKE_SECRET})
export SNOWFLAKE_SCHEMA=$(jq -r .schema <<< ${SNOWFLAKE_SECRET})
export SNOWFLAKE_TABLE=$(jq -r .table <<< ${SNOWFLAKE_SECRET})
export SNOWFLAKE_URL=$(jq -r .url <<< ${SNOWFLAKE_SECRET})
export SNOWFLAKE_WAREHOUSE=$(jq -r .warehouse <<< ${SNOWFLAKE_SECRET})
